<!DOCTYPE html>
<html lang="en-ca">
  <head>
	<meta charset="utf-8">
	<title>{{ title }}</title>
  </head>
  <body>
	<h1>{{ title }}</h1>
  {% _e 'helloworld', locale, translations, {name: 'Alice'} %}
	{{ content | safe }}
  {% set count = collections.posts | length %}
  <p>{% _n 'posts_singular', 'posts_plural', locale, translations, {n: count} %}</p>
  </body>
</html>

