<!DOCTYPE html>
<html lang="{{ lang }}" dir="{{ lang | languageDirection }}">
  <head>
	<meta charset="utf-8">
	<title>{{ title }}</title>
  </head>
  <body>
	<h1>{{ title }}</h1>
  {% __ 'helloworld', {name: 'Alice'} %}
	{{ content | safe }}
  {% set count = collections.posts | length %}
  <p>{% _n 'posts_singular', 'posts_plural', {n: count} %}</p>
  </body>
</html>

