---
permalink: /test.html
---
<!DOCTYPE html>
<html lang="en-ca" class="no-js">
  <head>
	<meta charset="utf-8">
	<title>eleventy-plugin-fluid</title>
	{% uioStyles %}
	{% uioScripts %}
  </head>
  <body>
	{% uioTemplate %}
	{% set titleString = "# eleventy-plugin-fluid" %}
	{% renderString titleString, 'md' %}
	{% renderTemplate "webc" %}
	<hello>WebC</hello>
	{% endrenderTemplate %}
	{{ 'Not much to see here!' | markdown | safe }}
	{% set imaginaryString = "{{ 'This template language doesn't exist!' }}" %}
	{% renderString imaginaryString, 'imaginary' %}
	{% figure "/assets/images/tea.jpg", "A cup of tea and saucer decorated with green leaves and blue flowers on a wooden table." %}

["Bentley Tea Cup"](https://www.flickr.com/photos/30403793@N03/9065506985) by [snap713](https://www.flickr.com/photos/30403793@N03/) is licensed under [CC BY-NC-ND 2.0](https://creativecommons.org/licenses/by-nc-nd/2.0/)

	{% endfigure %}
	<!-- can specify a locale and direction passing in string arguments e.g. {% uioInit "fa", "rtl" %} -->
	{% uioInit %}
  </body>
</html>
