name: CI

on:
  push:
    branches: [ dev, main ]
  pull_request:
    branches: [ dev, main ]

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    outputs:
      has-coverage: ${{ steps.coverage.outputs.has-coverage }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: npm
      - name: Install dependencies, lint files and run tests
        run: |
          npm ci
          npm run lint
          npm test
      - name: Check for code coverage
        if: ${{ hashFiles('lcov.info') != '' }}
        id: coverage
        run: echo "has-coverage=true" >> $GITHUB_OUTPUT
      - name: Save code coverage to artifact
        if: ${{ steps.coverage.outputs.has-coverage }}
        uses: actions/upload-artifact@v4
        with:
          name: code-coverage
          path: "lcov.info"
          retention-days: 5

  coverage:
    runs-on: ubuntu-latest
    needs: lint-and-test
    if: ${{ needs.lint-and-test.outputs.has-coverage }}
    steps:
      - uses: actions/checkout@v4
      - name: Fetch code coverage artifact
        uses: actions/download-artifact@v4
        with:
          name: code-coverage
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true