name: Lint and test with coverage

on:
  push:
    branches: [ dev, main ]
  pull_request:
    branches: [ dev, main ]

jobs:
  lint-and-test:
    uses: inclusive-design/workflows/.github/workflows/node-lint-and-test-with-coverage.yml@main

  upload-coverage:
    uses: inclusive-design/workflows/.github/workflows/node-upload-coverage.yml@main
